<div class="container mt-5">
  <div class="row">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#postModal">
        New Post
      </button>
      <% 15.times do %>
        &emsp;
      <% end %>
      <h3>Working with javascript in rails.</h3>
  </div>
  <hr>
  <!-- show posts information -->
  <div class="row" id="container_posts">
    <%= render @posts %>
  </div>

<!-- Modal -->
<%= form_for(@post, remote: true) do |form| %>
<div class="modal fade" id="postModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">Adding New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <%= form.label :title %>
                    <%= form.text_field :title, class: 'form-control post_title' %>
                </div>
                <div class="form-group">
                    <%= form.label :content %>
                    <%= form.text_area :content, class: 'form-control post_content' %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <%= form.submit "Post", class: "btn btn-info" %>
            </div>
        </div>
    </div>
</div>
<% end %>
</div>
